@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body,html{
    margin:0;
    padding: 0;
}

*{
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 2px;
}


.s1{
    background: #333333 url('https://picsum.photos/1440/1080');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.s2{
    background: #333333 url('https://picsum.photos/1440');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.s3{
    background: #333333 url('https://picsum.photos/1920');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.s4{
    background: #333333 url('https://picsum.photos/1366');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    padding: 2rem;
    font-size: 4rem;
    letter-spacing: 10px;
    font-weight: 400;
    color: white;
    text-shadow: 0px 0px 20px #000000;
    text-align: center;
}

span{
    background-color: rgba(29, 29, 29, 0.808) !important;
}

.active span{
    box-shadow: 0px 0px 20px #5161f0 !important;
    background-color: rgb(93, 129, 230) !important;
}

.fp-slidesNav.fp-top {
    top: 10%;
    margin: 2rem !important;
}